/result
/dist*
*SYNOFILE*
*appData/stats*
*appData/rosters*
*appData/config*
*appData/points*
*appData/rankings*
output*
/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/.spago2nix
/.psc-ide-port
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
nixos/home/result
result
generated-plutus-scripts
.vscode/
.vscode/settings.json
.direnv/
.unisonHistory
*.qcow2
flake.nix.bak
.DS_Store
/script/
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
notes/CBSLeagueScraper.py
*dork_library/library.json*
*dork_library/unNamed.json*
config.txt
